.p{
  display: flex;
  gap:30px;
  justify-content: space-around;
  max-width:100%;
  margin-left: 20px;
  margin-right: 20px;
}
.visit{
  margin-top: 150px;
}
.heading{
  padding: 50px;
  font-weight: 800;
  text-align: center;
}
.p img{
  max-width: 100%;
  height:400px;
}
.visitus-left{
  max-width: 50%;
}
.visitus-left p,.visitus-right p{
  max-width: 300px;
  padding: 10px;
}

.visitus-right{
  max-width: 50%;
}
.dark h1,.dark p{
  color:white;
}
@media(max-width:900px){
  .p{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    max-width:100%;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .visitus-left{
    max-width: 100%;
  }
  .visitus-right{
    max-width: 100%;
  }

}